#text1{

    text-align: center;

    background-color: blueviolet;
}

#text2{

    text-align: center;
    background-color: coral;
    display: none;
}

#img{

    text-align: center;
}



#text3{
    
    text-align: center;

    background-color: aqua;
   
   }